@model int
@{
    ViewData["Title"] = "Shoot";
}

<h1>Guns of the Old West</h1>

<div id="container">
    <form asp-controller="Home" asp-action="Shoot">
        <button id="shoot"type="submit">Shoot</button>
    </form>
    <div id="bullets-container">
        @for (int i = 1; i <= Model; i++)
        {
            <img src="~/images/bullets.png">
        }
    </div>
</div>